body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column; /* 縦に積み重ねる */
    align-items: center; /* 中央揃え */
    width: 100%; /* 幅を100%に設定 */
}

textarea {
    width: 61.8vw; /* 横幅を黄金比で指定 */
    height: 80vh; /* 縦の高さ */
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2); /* 薄い色のボーダー */
    box-sizing: border-box;
    resize: none;
    overflow: hidden; /* スクロールバーを非表示にする */
    font-size: 18px;
}

/* フォーカス時のボーダーをカスタマイズ */
textarea:focus {
    outline: none; /* デフォルトのアウトラインを非表示 */
    border: 1px solid rgba(0, 0, 0, 0.2); /* 薄い色のボーダーを維持 */
}

#charCount {
    margin: 10px 0; /* ファイル名入力フィールドとの間にスペース */
    background: rgba(255, 255, 255, 0.8); /* 背景を半透明に */
    padding: 5px;
    border-radius: 5px; /* 角を丸める */
}

/* ボタンエリアを中央に配置 */
.button-area {
    display: flex; /* ボタンを横並びにする */
    justify-content: center; /* 中央揃え */
    position: relative; /* フォント選択のセレクトボックスの絶対位置の基準 */
    margin-top: 10px; /* 上部との間にスペースを追加 */
}

#fontSelector {
    display: none; /* 初期は非表示 */
    position: absolute; /* 絶対位置に変更 */
    top: 60px; /* ボタンエリアの下に表示 */
    left: 110px; /* 左側に配置 */
    right: 0; /* 右側にも配置 */
    margin: 0 auto; /* セレクトボックスを中央揃えにする */
}


input[type="text"], input[type="file"] {
    border: 1px solid #ccc; /* シンプルなボーダー */
    padding: 5px; /* パディングを設定 */
    margin: 5px 0; /* 上下のマージンを設定 */
    width: 30%; /* 幅を30%に設定 */
    max-width: 200px; /* 最大幅を設定 */
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 10px; /* ボタンのマージンを調整 */
}

#save-button, #load-button, #undo-button, #redo-button {
    width: 50px;
    height: 50px;
}

#font-button {
    width: 50px;
    height: 50px;
}

/* ボタンの画像サイズを調整 */
#save-button img, #load-button img, #undo-button img, #redo-button img, #font-button img {
    width: 100%;
    height: auto;
}

/* フォント変更群*/
.shippori-mincho-regular {
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.hina-mincho-regular {
  font-family: "Hina Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.zen-maru-gothic-regular {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
}
