body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column; /* 縦に積み重ねる */
    align-items: center; /* 中央揃え */
    width: 100%; /* 幅を100%に設定 */
}

textarea {
    width: 61.8vw; /* 横幅を黄金比で指定 */
    height: 80vh; /* 縦の高さ */
    padding: 20px;
    border: none;
    box-sizing: border-box;
    resize: none;
    overflow: hidden; /* スクロールバーを非表示にする */
}

#charCount {
    margin: 10px 0; /* ファイル名入力フィールドとの間にスペース */
    background: rgba(255, 255, 255, 0.8); /* 背景を半透明に */
    padding: 5px;
    border-radius: 5px; /* 角を丸める */
}

input[type="text"], input[type="file"] {
    border: 1px solid #ccc; /* シンプルなボーダー */
    padding: 5px; /* パディングを設定 */
    margin: 5px 0; /* 上下のマージンを設定 */
    width: 30%; /* 幅を30%に設定 */
    max-width: 200px; /* 最大幅を設定 */
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 10px; /* ボタンのマージンを調整 */
}

#undo-button, #redo-button, #save-button, #load-button {
    width: 50px;
    height: 50px;
    position: absolute; /* 絶対位置 */
    bottom: 10px; /* 下から10pxに配置 */
}

#undo-button {
    left: 10px; /* 左端に配置 */
}

#redo-button {
    left: 80px; /* Undoボタンの隣に配置 */
}

#save-button {
    right: 80px; /* セーブボタンは右側に固定、ロードボタンの隣に配置 */
}

#load-button {
    right: 10px; /* ロードボタンは画面の右端に固定 */
}

#save-button img, #load-button img, #undo-button img, #redo-button img {
    width: 100%;
    height: auto;
}
