<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <title>Minimal Memo</title>
</head>
<body>
    <div class="container">
        <textarea id="content" name="content" th:text="${content}"></textarea>

        <!-- 文字数カウント -->
        <p><span id="charCount">0</span></p>

        <!-- ボタンエリア -->
        <button id="save-button" type="button">
        <img src="/images/floppy.png" alt="Save">
        </button>
        <button id="load-button" type="button" onclick="loadFile()">
            <img src="/images/folder.png" alt="Load">
        </button>

        <button id="undo-button" type="button" onclick="undo()">
            <img src="/images/undo.png" alt="Undo">
        </button>

        <button id="redo-button" type="button" onclick="redo()">
            <img src="/images/redo.png" alt="Redo">
        </button>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>
